<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
  <FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh|pconf\.json)$">

  Order Allow,Deny

  Deny from all

  </FilesMatch>
</IfModule>
