<body style="padding: 0; margin: 0;color: #4a4a4a; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif!important; letter-spacing: 0!important;line-height: 140%!important;background: #f5f9ff;">
<div style="height: 20px"></div>
<div style="padding: 10px">
    <!--    BODY-->
    <div style="max-width: 600px; margin-left: auto;  margin-right: auto; box-shadow: 6px 8px 23px rgba(221,231,244,.65)">
        <!--        THE WHITE CONTAINER-->
        <div style="padding: 20px;text-align: center; background: #d5e5fd;">
            <!--            HEADER-->
            <h2 style="margin: 0; color: #fff">
                <img src="https://buysafe.ng/bsafe_full_black_text_small.png" style="max-width: 160px; width: 100%; height: auto; ">
            </h2>
        </div>
        <div style="padding: 30px;  background: white;">
            ##HEADER##
            <!--            CONTENT-->

            ##CONTENT##

            ##FOOTER##
            <div style="height: 30px"></div>
            <div style='border-top-width: 0.5px; border-top-color: #d5e5fd; border-top-style: solid;margin: 20px'></div>
            <p style='margin-top: 0; margin-bottom: 0'>
                Have questions or need help? Just reply to this email and the <a href='https://buysafe.ng/support'>Buysafe Support Team</a> will help you sort it out.</p>
        </div>

        <div style="padding: 20px; text-align: center; font-size: smaller">
            <!--            FOOTER-->
            &copy; 2020 Buysafe.ng
        </div>
    </div>
</div>

</body>
